[Unit]
Description=The backend for dotmd.
After=network.target

[Service]
type=simple
User=root
WorkingDirectory=/srv/dev.dotmd
EnvironmentFile=env
ExecStart=/usr/bin/npm run devprod

[Install]
WantedBy=multi-user.target
Alias=dev.dotmd
