[Unit]
Description=The backend for dotmd.
After=network.target

[Service]
type=simple
User=root
WorkingDirectory=/srv/dotmd
EnvironmentFile=env
ExecStart=/usr/bin/npm run prod

[Install]
WantedBy=multi-user.target
Alias=dotmd
