

@font-face {
    font-family: "Latex";
    src: url("https://dotmd.app/font/normal.woff");
}

.root {
    font-family: 'Latex', monospace;
    font-size: 12px;
    line-height: 1.5;
}

h1 {
    margin: 8px 0;
}

h2 {
    margin: 6px 0;
}

h3, h4, h5, h6 {
    margin: 4px 0;
}

p {
    margin: 12px 0;
}


blockquote {
    /* border-left: solid 4px #444; */
    color: #444;
    font-style: italic;
    display: block;
    margin: 12px;
    padding: 12px;
}

a {
    text-decoration: underline;
}

li {
    margin-left: 24px;
    padding: 3px 0;
}

ul:has(li) {
    background: red;
}

/* ul.contains-task-list {
    & > * {
        margin-left: 16px;
        list-style: none;
    }
} */

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 1px 4px;
}

tr:nth-child(even) {
    /* background-color: #eee */
}

tr, td, th {
    border: solid 0.5px #666;
}

th {
    /* background-color: #ddd; */
    text-align: left;
}

.MathJax[display] {
    text-align: left;
}

pre > code, .MathJax[display] {
    padding: 12px;
    border-radius: 12px;
    margin: 12px 0;
    /* border: solid 1px #eee; */
    text-align: left;
    display: block;
}


code {
    background: #eee;
    padding: 2px 4px;
    border-radius: 2px;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
}