/*
 * Elijah Cobb
 * github.com/elijahjcobb
 * ejcobb@mtu.edu
 */

.Analytics {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	padding: 32px;
	display: flex;
	flex-direction: column;
	width: 100vw;
	align-items: center;
	flex-grow: 1;
	overflow-y: scroll;

	h2 {
		margin: 32px 0;
	}
}

.counts,.users {
	width: 80%;
	max-width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.count {
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px;
	margin: 16px;
	background: dodgerblue;
	border-radius: 8px;
	box-shadow: 0 0 16px var(--secondary);

	& > * {
		display: block;
	}
}

.countName, .countValue {
	color: white;
}

.countName {
	font-weight: bold;
	font-family: "Roboto Mono", monospace;
	font-size: 48px;
}

.countValue {
	font-weight: lighter;
	font-size: 28px;
}

.users {

}

.user {
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px;
	margin: 16px;
	background: var(--background);
	border-radius: 8px;
	box-shadow: 0 0 16px var(--secondary);
}

.userName {

}