/*
 * Elijah Cobb
 * github.com/elijahjcobb
 * ejcobb@mtu.edu
 */

$headerSize: 48px;

.loading {
	background: rgba(0, 0, 0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 22222222;
	display: flex;
	justify-content: center;
	align-items: center;

	div {
		background: white;
		padding: 32px 64px;
		box-shadow: 0 0 16px #aaa;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		align-items: center;

		span {
			font-weight: bold;
			font-size: 18px;
			display: block;
			margin-bottom: 32px;
		}
	}
}

.picker {
	margin-right: 32px;
}

.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	* {
		//border: solid 1px red !important;
	}
}

.container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
	height: 100%;
	width: calc(100% - 72px);
	max-width: calc(100% - 72px);
	flex-grow: 1;
}


.markdown {
	overflow-y: auto;
	height: 100%;
}

.markdown, .editor {
	overflow-y: auto;
	height: 100%;
}

.editor {
	overflow: hidden;
	transition: none !important;
}

.dark {
	background: #1e1e1e;
	color: white;
	*::selection {
		background: #555;
	}
	* {
		color: white;
	}
}