/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

.default {
	transition: transform 250ms ease-in-out;
}

.dropper {
	display: block;
	transform: scale(1.25);
}