/*
 * Elijah Cobb
 * github.com/elijahjcobb
 * ejcobb@mtu.edu
 */

.topBar {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 72px;
	max-width: 72px;
	min-width: 72px;
	justify-content: space-between;
	align-items: center;
	background: #f8f8f8;
	overflow: visible;

	* {
		//border: solid 1px red !important;
	}
}

.dark {
	background: #080808;
	* {
		color: black;
	}
}

.topBar, .top, .bottom, .middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.middle {
	flex-grow: 1;
	justify-content: center;
	& > * {
		margin: 8px 0;
	}
}

.bottom {
	margin-top: 16px;

}

.logo, .profilePic {
	width: 100%;
	padding: 16px;
}

.profilePic {
	border-radius: 50%;
}

.saveIcon {

}

.unsaved {

}

.saved {
	color: dodgerblue;
}

.saveError {
	color: red;
}
