/*
 * Elijah Cobb
 * github.com/elijahjcobb
 * ejcobb@mtu.edu
 */

.topBar {
	height: 64px;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	padding-right: 8px;

	* {
		//border: solid 1px red !important;
	}
}

.left {
	flex-grow: 1;
}

.topBar, .left, .right {
	display: flex;
	align-items: center;
}

.folder {

}

.sep {
	margin: 0 4px;
}

.folder, .logo {
	transition: transform 250ms ease-in-out;
	&:hover {
		cursor: pointer;
		transform: scale(1.05);
	}
}

.name {
	border: none;
	background: none;
	flex-grow: 1;
}

.profilePic, .logo {
	display: block;
	width: 48px;
	height: 48px;
	margin-right: 8px;
	border-radius: 25%;
}

.profilePic {
	border-radius: 50%;
}

.picker {
	& > * {
		padding: 6px;
	}
}

.picker, .saveMessage {
	margin-left: 8px;
}

.saveMessage, .picker, .folder, .sep, .profilePic {
	display: none;
}

.saved {
	color: dodgerblue;
}

.saveError {
	color: red;
}

.modePicker {
	display: flex;
}

@media (min-width: 640px) {
	.darkPicker {
		display: flex;
	}
	.name {
		font-size: 18px;
	}
}

@media (min-width: 800px) {
	.picker {
		& > * {
			padding: 10px;
		}
	}
}

@media (min-width: 880px) {
	.themePicker {
		display: flex;
	}
	.folder, .sep, .profilePic {
		display: block;
	}
}

@media (min-width: 960px) {
	.saveMessage {
		display: block;
	}
	.profilePic, .picker, .saveMessage {
		margin-left: 16px;
	}
	.topBar {
		padding-right: 16px;
	}
	.sep {
		margin: 0 8px;
	}
	.topBar {
		padding: 8px;
	}
}

