/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

body {
	font-family: "Roboto", "sans-serif";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::selection {
	background: #ddd;
}