/*
 * Elijah Cobb
 * github.com/elijahjcobb
 * ejcobb@mtu.edu
 */

.root {
	position: static;
}

.container {
	height: calc(100vh - 64px);
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	overflow-y: auto;
}

.btns {
	position: absolute;
	bottom: 32px;
	left: 32px;
	display: flex;
	flex-direction: column;

	& > * {
		margin-top: 16px;
	}
}

.preview {
	z-index: 39999;
	padding-bottom: 32px;
	width: 100%;
	max-width: 840px;
	overflow-y: visible !important;
}